
  /*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
  .award{
    padding: 15px 0;
    text-align: center;
    transition: all .2s;
  }
  
  
  
  .award img:hover {
    transform: scale(1.15);
  }
  
  @media (max-width: 768px) {
    .award img {
      max-width: 30%;
    }
  }

  .img-award {
    max-width: 60%;
    height: auto;
  }
  